/*
 * GitPitch Slideshow Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

.reveal h1{
  font-size: 2.8em;
  margin-top: 50px;
  margin-bottom: 100px;
}

.reveal h2{
  font-size: 1.5em;
}

.reveal h3{
  font-size: 0.8em;
  padding-bottom: 70px;
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  border-radius: 10px;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #1f1c18;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
}

.hljs {
  background : none;
}

#gp-logo img {
  max-height: 2em;
  max-width: none;
}

.reveal .slides section .fragment.visible{
  font-size: 0.73em;
}

.reveal:not(.has-vertical-slides) .controls .navigate-right, .reveal:not(.has-vertical-slides) .controls .navigate-left, .reveal .progress{
  color: #16c1d3;
}

#title-footer #notification{
  display: none;
}

.gp-tip { font-size : 1.5em; }

.gp-contact { font-size : 1.4em; }

.gp-download { margin-left: 10px; }

